@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800&family=Press+Start+2P&family=Yellowtail&display=swap" rel="stylesheet');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-color: #535252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23131313'/%3E%3Cstop offset='1' stop-color='%23535252'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23333333'/%3E%3Cstop offset='1' stop-color='%23535252'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(280 0)'%3E%3Cg transform='translate(0 330)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-43.2 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-attachment: fixed;
	font-family: 'Oswald', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#imagem{
    background-image: url("../img/forca.png");
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}
#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.letras{
    width: 20px;
    text-align: center;
    border-bottom: 4px solid #000000;
    color: #05ffde;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.letrasEspaco{
    width: 16px;
    text-align: center;
    color: #EDEDED;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado{
    margin-top: 30px;
}

.teclas button{
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow:  0px 2px 8px dimgray;
    border-radius: 12px;
    border: 1px solid dimgrey;  
    color: #05ffde;
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 1) 0%, rgba(0, 0, 0, 1));
    box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.7),
    0px 1px 0px rgba(158, 158, 158, 1) inset;
    border: 1px solid rgba(0,0,0, 1);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    box-shadow: 0px 2px 10px #040404
}

.teclas button:disabled{
    cursor: not-allowed;
}

.teclas button:hover{
    transform:scale(1.3);
}

#categoria{
    margin-top: 20px;
    color: #05ffde;
    font-size: 1.2em;
    
}

#abreModalAddPalavra, #recarregar, #jogarAutomatico, #jogarNovamente{
    position: fixed;
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 70px;
    font-size: 3em;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

#abreModalAddPalavra{
    display: none;
    bottom: 160px;
    right: 5px;
}

#recarregar{
    bottom: 80px;
    right: 5px;
}

#jogarAutomatico{
    bottom: 5px;
    right: 5px;
}

#status{
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#jogarNovamente{
    display: none;
    bottom: 15px;
    right: 30px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
}

.modal-container{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-add-palavra{
    position: relative;
    background-color: #EDEDED;
    border: 10px solid #000;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animacao;
    -webkit-animation-duration: 0.4s;
    animation-name: animacao;
    animation-duration: 0.4s;
}

@-webkit-keyframes animacao{
    from{top:-300px; opacity: 0;}
    to{top:0; opacity: 1;}
}

@keyframes animacao{
    from{top:-300px; opacity: 0;}
    to{top:0; opacity: 1;}
}

.modal-header-add-palavra{
    padding: 2px 16px;
    background-color: #ffbb00;
    font-size: 1.3em;
    border-bottom: 10px solid #000;
}

.close{
    color: #000;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: #EDEDED;
    text-decoration: none;
}

.modal-body-add-palavra{
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
}

.modal-body-add-palavra input, .modal-body-add-palavra button{
    text-align: center;
    margin: 10px 0;
    font-size: 1.5em;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9c9c9c;
}

.modal-body-add-palavra input{
    text-transform: uppercase;
}

.modal-body-add-palavra button{
    background-color: #ffbb00;
    cursor: pointer;
}

.modal-body-add-palavra button:hover{
    background-color: #000;
    color: #ffbb00;
    cursor: pointer;
}

/*#region MEDIA QUERY*/
@media (min-width: 321px){
    .teclas button{
        width: 25px;
        height: 25px;
    }
    #categoria{
        font-size: 1.3em;
    }
}

@media (min-width: 376px){
    .teclas button{
        width: 30px;
        height: 30px;
    }
    #palavra-secreta{
        font-size: 1.3em;
    }
    .letras{
        width: 18px;
    }

    #categoria{
        font-size: 1.3em;
    }
}

@media (min-width: 426px){
    .teclas button{
        width: 36px;
        height: 36px;
    }
    #palavra-secreta{
        font-size: 1.3em;
    }
    .letras{
        width: 20px;
    }

    #categoria{
        font-size: 1.6em;
    }
}

@media (min-width: 769px){
    .teclas button{
        width: 68px;
        height: 68px;
        font-size: 2em;
    }
    #palavra-secreta{
        font-size: 2.5em;
    }
    .letras{
        width: 35px;
    }

    #categoria{
        font-size: 2em;
    }

    .modal-add-palavra{
        width: 80%;
    }
}

@media (min-width: 1025px){
    .modal-add-palavra{
        width: 50%;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*#endregion*/

